<div class="bg-img">
    <div class="container">

        <label for="email">
			<b>Email</b>
		</label>
        <input type="text" style="font-weight: bold" placeholder="Enter Email" name="email" required>

        <label for="username">
		 <b>Userame</b>
						</label>
        <input type="text" style="font-weight: bold" placeholder="Enter Username" name="username" required>

        <label for="psw">
			<b>Password</b>
		</label>
        <input type="password" style="font-weight: bold" placeholder="Enter Password" name="psw" required>

        <label for="pswconf">
			<b>Confirm password</b>
		</label>
        <input type="password" style="font-weight: bold" placeholder="Confirm Password" name="pswconf" required>

        <button type="submit" class="btn-signup" (click)="onSignup()">Sign up</button>

    </div>
</div>